<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', "http://#{ENV.fetch('APP_HOST')}/register/confirm/#{@token}" %></p>
