.navbar-default
  background: none
  border: none

  .navbar-toggle
    background-color: #f8f8f8

  .navbar-brand
    background-image: url('../assets/JOATULogo_Small-2x.png')
    width: 152px
    height: 44px

  .about-icon
    background-image: url('../assets/InterrogationMark-2x.png')
    height: 41px
    width: 31px
    margin-left: 30px
    margin-top: 3px
