.register
  background-color: rgba(86,88,95,0.75)
  color: #ddd
  padding: 20px

  .register-progress-bar
    border: none
    background-color: transparent
    width: 100%

    .step
      width: 693px
      height: 29px
      margin-left: auto
      margin-right: auto

    .step1
      background-image: url("../assets/SignUp_Step1.png")
    .step2
      background-image: url("../assets/SignUp_Step2.png")
    .step3
      background-image: url("../assets/SignUp_Step3.png")
